body {
    background-color: #f5f5f5;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    width: 1100px;
}

  * {
    box-sizing: border-box;
}

@font-face {
    font-family: "nord-bold";
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
         url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


button, input, select, textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none; 
    font-family: inherit;
    font-size: 100%;
}

form input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 230px;
    height: 24px;
}

form input:focus,
form input:active {
    border: 1px solid blue;
    border-radius: 4px;
    box-shadow: 1px 1px 1px lightblue;
}

form fieldset {
    border: none;
    background-color: white;
    padding: 20px 0px 30px 50px;
}

form legend {
    font-size: 1.3em;
    font-weight: 600;

    padding-top: 20px;
}

form div {
    position: relative;
    margin-top: 30px;
    padding-right: 60px;
}

form fieldset div:nth-child(2n) {
    float: left;
}

form fieldset div {
    display: inline-block;
    width: 50%;

}

form label {
    font-size: .75em;
    padding-left: 1px;
    position: absolute;
    top: -18px;
    font-weight: 600;
}



.controls {
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 50px;
}

.controls span {
    font-weight: 600;
    color: green;
}

.controls button {
    border: 1px solid #596D48;
    border-radius: 10px;

    width: 200px;
    height: 50px;

    font-weight: 600;

    color: white;
    background-color: #596D48;
}

.description-wrapper {
    font-size: 1.3em;
    font-weight: 600;
    width: 100%;
    padding-left: 30px;
}

.description-wrapper span {
    font-style: italic;
}

.main {
    overflow: hidden;
}

.form {
    width: 100%;
    background-color: white;

}

.form-wrapper {
    width: 100%;
    padding-top: 20px;
}

.image-wrapper {
    width: 40%;
    float: left;
    position: relative;
}

.background-image img {
    width: 100%;
    height: auto;
}

.logo-image {
    width: 100%;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 100px;

}

.logo-image img {
    position: absolute;
    width: 80px;
    height: auto;
    
    top: 10%;
    left: 20%;
}

.logo-text {
    position: absolute;
    
    left: 38%;
    top: 8%;

    font-size: 5em;
    font-family: "nord-bold";
    color: whitesmoke;
}